template(name="postListOne")
  a.item(href="/p/#{slug}")
    .content
      .header #{title}
        if disclaimer
          .ui.red.tiny.label Disclaimer
      .description #{summary} 
      .extra
        .right.floated
          span.gray(style="margin-right: 10px;") #{author}, #{createdAt}
          a.ui.red.tag.label(href="/t/#{tag}") #{tag}
