template(name="postOne")
  .twelve.wide.column
    h1 #{title}
    p 
      +markdown
        #{body}
    br
    a(href="/t/#{tag}").ui.red.tag.label #{tag}
  .four.wide.column
    a(href="/a/#{author}")
      img(src="{{getGravatarUrl author}}").ui.avatar.image
      span #{author}
    if isAuthor author
      .ui.compact.message.
        This post is yours. Want to <a href="/p/#{slug}/edit">edit</a> it?