template(name="postOne")
  //- Main content
  .twelve.wide.column
    h1 #{title}
      span.post-info
        a(href="/a/#{author}")
          img(src="{{getGravatarUrl author}}").ui.avatar.image
          span #{author}
        span.ui.label #{createdAt}
    if disclaimer
      .ui.red.icon.message
        i.warning.icon
        .content
          .header Disclaimer
          p #{disclaimer}
    p.ns.post 
      +markdown
        #{body}
    br
    a(href="/t/#{tag}").ui.red.tag.label #{tag}
    +disqus
  //- Sidebar
  .four.wide.column
    if isAuthor author
      .ui.compact.message.
        You are the author of this post. Would you like  <a href="/p/#{slug}/edit">edit</a> or <a href="#" id="delete-button">delete</a> it?