template(name="postOne")
  //- Main content
  .twelve.wide.column
    h1 #{title}
    if disclaimer
      .ui.red.icon.message
        i.warning.icon
        .content
          .header Disclaimer
          p #{disclaimer}
    p 
      +markdown
        #{body}
    br
    a(href="/t/#{tag}").ui.red.tag.label #{tag}
    +disqus
  //- Sidebar
  .four.wide.column
    a(href="/a/#{author}")
      img(src="{{getGravatarUrl author}}").ui.avatar.image
      span #{author}
    .gray posted on #{createdAt}
    if isAuthor author
      .ui.compact.message.
        This post is yours. Want to <a href="/p/#{slug}/edit">edit</a> it?